/*
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text";
    

    font-family: 'BioRhyme';
    border-radius: 18px;
    background: #fbd46d;
    text-align: center;

    padding-left: 5rem;
    padding-right: 5rem;

    margin: 20px;
}

.card-image {
    grid-area: image;
    background-image: url("hero-img.jpg");
    
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}
*/

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(70px, auto);
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
}

.card {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rbga(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
   
}

.card .card_image img {
    width: 300px;
    height: 300x;
    border-radius: 40px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: 'Yatra One';
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
        -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}

@media all and (max-width: 50px) {
    .cards-list {
        flex-direction: column;
    }
}

