*{
    box-sizing: border-box;
}

body {
    background-color: #3b91b8;
    margin: 0;
}


header {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.logo {
    font-family: 'Nothing You Could Do';
    font-size: 3rem;
    padding-left: 2rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeecda;
    font-family: 'Yatra One';
    font-size: 2rem;
    padding: 1rem;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}

.navbar-links li {
    list-style-type: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #6a2c70;
    padding: 1rem;
    display: block;
}

.navbar-links li button {
    background-color: transparent;
    border: none;
    color: #6a2c70;;
    font-family: 'Yatra One';
    font-size: 2rem;
    padding-top: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: #f08a5d;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #01252a;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li button {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links li button {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}