* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background: url("hero-img.png") no-repeat;
    padding-top: 61%;
    background-size: cover;
}


header img {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
}

header h1 {
    position: fixed;
    top: 2rem;
    right: 2rem;
    font-size: 12vw;
    line-height: .8;
    margin-top: 0;
    text-emphasis: center;
}

header h1 span {
    display: block;
    font-size: 8.75vw;
}

main {
    background: #f3d78b;
    position: relative;
    border: 1px solid #f3d78b;
    font-family: 'BioRhyme';
    font-size: 1.4rem;
    padding: 2rem 25%;
    line-height: 1.6;
}

@media all and (max-width: 400px) {
    main { padding: 2rem; }
}